body {
    font-family: Arial, sans-serif;
    background: #1e1e1e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-around;
    background: #2e2e2e;
    padding: 15px;
    border-radius: 20px;
    width: 90%;
    position: fixed;
    top: 10px;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    padding: 10px 15px;
    border-radius: 10px;
    transition: background 0.3s;
}

.nav a i {
    margin-right: 8px;
}

.nav a:hover {
    background: #007bff;
}
